@charset "UTF-8";

@import 'settings.scss';
@import "@pidila/scampi/modules/fontface/index";

@import "@pidila/scampi/core/version";
@import "@pidila/scampi/core/settings";
@import "@pidila/scampi/core/mixins";
@import "@pidila/scampi/core/basics";
@import "@pidila/scampi/core/helpers";

@import "@pidila/scampi/modules/forms/index";
@import "@pidila/scampi/modules/buttons/index";

@import "rwd-utils.scss";

#result {
  display: none;
}

.site-id:hover, .site-id:focus {
    background: inherit;
}

.decla-result {
  background-color: #F0F0F0;
  padding: 1em;
  margin-bottom: 3em;
}

#back {
  margin-bottom: 3em;
}

button.clipboard {
  margin-bottom: 2em;
}


textarea {
    width: 100%;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
}









  

  

  

  

